[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyautogui = "*"
openpyxl = "*"
pywin32 = "*"
pynput = "*"
pydirectinput = "*"
pyinstaller = "*"

[dev-packages]

[requires]
python_version = "3.9"
